
.icon-heart:before { content: '\e800'; } /* '' */
.icon-retweet:before { content: '\e801'; } /* '' */
.icon-link:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-heart-1:before { content: '\e804'; } /* '' */
.icon-loop:before { content: '\e805'; } /* '' */
.icon-link-1:before { content: '\e806'; } /* '' */
.icon-loop-1:before { content: '\e807'; } /* '' */
.icon-heart-empty-1:before { content: '\e808'; } /* '' */
.icon-heart-2:before { content: '\e809'; } /* '' */
.icon-heart-filled:before { content: '\e80a'; } /* '' */
.icon-link-2:before { content: '\e80b'; } /* '' */
.icon-link-3:before { content: '\e80c'; } /* '' */
.icon-retweet-1:before { content: '\e80d'; } /* '' */
.icon-heart-3:before { content: '\e80e'; } /* '' */